html {
	/* added for sticky footer */
	position: relative;
	min-height: 100%;
}
body {
	background-color: #ebebeb;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.px-nav-icon {
	padding: 0 8px;
}
.px-nav-filter {
	line-height: 1 !important;
	font-size: 20px !important;
	max-width: 150px;
	display: inline-block;
	color: rgba(255, 255, 255, 0.5) !important;
}
.px-nav-filter::placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
}
.nav-item {
	font-size: 20px;
}
.breadcrumb {
	background-color: transparent;
}
.parallax {
	min-height: 200px;
	background-attachment: fixed;
	background-position: 50% 50%;
}
.btn-theme-color,
.btn-group-theme-color > .btn {
	padding: 0.8rem 0.8rem;
}
.offside-element {
	margin-top: -50px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}
.pointer {
	cursor: pointer;
}
/* shadow */
.shadow-1 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow-2 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow-3 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* modern alert */
.alert-modern {
	background: none;
	border: none;
	border-left: 6px solid;
	border-radius: 0;
	background: #fff;
	color: #000000 !important;
}
.alert-modern.success {
	border-color: #388e3c;
}
.alert-modern.info {
	border-color: #1976d2;
}
.alert-modern.warning {
	border-color: #fbc02d;
}
.alert-modern.danger {
	border-color: #d32f2f;
}

/* COLORS */
/*** teal ***/
.bg-teal {
	background: #009688;
}
.bg-teal-gradient {
	background: #00897b;
	background: linear-gradient(to right, #00897b, #388e3c);
}
.bg-teal-gradient2 {
	background: #00897b;
	background: linear-gradient(to bottom, #00897b, #388e3c);
}
.bg-teal-gplay {
	background-image: url("../img/gplay.png"), linear-gradient(to right, #009688, #43a047);
}
#list .thead-teal th {
	background-color: #009688;
}
/* text color */
/* text-white anchor */
.text-white a,
a.text-white,
a.text-white:focus,
a.text-white:hover {
	color: #fff !important;
}
/* font awesome */
.fa-10x {
	font-size: 10em;
}
/* Mobile & Tablet */
@media only screen and (max-width: 991px) {
	/* this for show content because using navbar fixed top */
	body > #app {
		padding-top: 122.13px;
	}
	.px-breadcrumb {
		margin-top: 79.13px;
	}
	.footer {
		line-height: 30px; /* Vertically center the text there */
	}
}

/* PC */
@media only screen and (min-width: 992px) {
	/* lighten on hover navbar menu */
	#nav-home:hover,
	#nav-sidebar:hover,
	#navbar-collapse > ul > li a:hover {
		box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
	}
	/* this for show content because using navbar fixed top */
	body > #app {
		padding-top: 133.78px;
	}
	.px-breadcrumb {
		margin-top: 90.78px;
	}
	.offside-element {
		margin-top: -70px !important;
	}
	.footer {
		line-height: 60px; /* Vertically center the text there */
	}
}
